.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e8e8e8;
}

.container {
    border-radius: 25px;
  border: 1px solid #b5b5b5;
  background-color: white;
  width: 25vw;
  height: 65vh;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  text-align: center;
}
